p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.photos-wrapper {
    overflow-x: auto;
    padding: 1rem;
    /* Smooth scrolling for mobile */
    -webkit-overflow-scrolling: touch;
}

.photos {
    display: flex;
    gap: clamp(8px, 2vw, 24px);
    /* Center photos when screen is wide enough; 
        Start them to the left when they overflow.
    */
    justify-content: start;
    width: max-content;
    margin: 0 auto;
}

.photos img, .hobby img {
    height: 200px;
    width: auto;
}

.map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    height: 25vw;
    width: 40vw;
    min-height: 250px;
    min-width: 400px;
}

.about-container, .hobby-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.about, .hobby {
    flex: 1 1 300px;
    max-width: 500px;
    background-color: #f8f8f8;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: inset 0 -2px 0 #78b2e1b3;
}

.menu-list {
    list-style: none;
}
.inlineflex {
    display: inline-flex;
}