<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Quintessential&display=swap" rel="stylesheet">


    <link lang='sass' rel="stylesheet" href="./static/dist/tailwind.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>
<body class="bg-white text-gray-900">
    {% import 'macro.jinja' as ml %}
   <div class="pt-6 pb-4 flex justify-center bg-blue-500">
        <a href="/" class="block w-auto h-16">
        <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo" class="h-full w-auto mx-auto" />
        </a>
    </div>

    <header class="bg-white shadow-sm sticky top-0 z-50">
        <div class="max-w-6xl mx-auto flex items-center justify-between px-6 py-4">
            <div class="text-lg font-semibold text-gray-800">
            {{ ml.menu() }}
            </div>

            <nav class="text-sm font-medium text-gray-700">
                <ul class="flex space-x-6">
                    {{ ml.menuIt() }}
                </ul>
            </nav>
        </div>
    </header>

    <div class="hobby-container">
        {% for hobby in hobbies %}
            <div class="hobby">
                <h2 style="text-align: center;"> {{hobby.name}} </h2>
                <img src="{{ url_for('static', filename='img/' + hobby.img)}}" alt="Photo {{ loop.index }}">
                <p>{{hobby.desc}}</p>
            </div>
        {% endfor %}
        
    </div>    
</body>
</html>