{% macro position(name, sdate, edate, desc) %}
        <div class="exp">
            <p class="pos b">{{name}}</p>
            <p class="date i">{{sdate}} - {{edate}}</p>
            <ul class="desc">
                {% for bp in desc%}
                    <li>{{bp}}</li>
                {% endfor %}
            </ul> 
        </div>
{% endmacro %}

{% macro menu() %}
        <a href="/">
            <h1 class="accent-txt text-3xl ">Ebony Brown</h1>
        </\a>
{% endmacro %}

{% macro menuIt() %}
    <li class=""><a href="/resume">Experience</a> </li>
    <li class=""><a href="/hobbies">Hobbies</a> </li>
    <li class=""><a href="/timeline">Timeline</a> </li>
{% endmacro %}
